<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications.Development" version="0.2.3" targetFramework="net40-Client" />
  <package id="Machine.Specifications.Development.Tests" version="0.2.3" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.3" targetFramework="net40-Client" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40-Client" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40-Client" />
</packages>